{% extends "base.html" %}


{% block main %}

<div class="view" style="background-image: url('{{ url_for('static',filename= "backgrounds/HyperWeb-9.jpg" ) }}'); background-repeat: no-repeat; background-size: cover; background-position: center center;  background-attachment:fixed;">

<br>
<br>
<div class="card container">

 <div class="card-body ">


    <h4>Add New Book</h4>

    <form action="{{ url_for('addstock') }}" method="post" class="border border-light p-6" style="color: #757575;" enctype="multipart/form-data">

        <div class="form-group">
            <label for="exampleInputEmail1">Book Name</label>
            {{ Nbook.bookname(class="form-control") }}
        </div>


        <div class="form-group">
            <label for="exampleInputEmail1">Publisher</label>
            {{ Nbook.author(class="form-control") }}
        </div>


        <div class="form-group">
            <label for="exampleInputEmail1">Price</label>
            {{ Nbook.price(class="form-control") }}
        </div>


        <div class="form-group">
            <label for="exampleInputPassword1">Book picture upload <strong>.jpg Format only!</strong></label> <br>
            {{ Nbook.picture}}
        </div>

         <div class="form-group">
            <label for="exampleInputEmail1">ISBN-13</label>
            {{ Nbook.ISBN13(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">ISBN-10</label>
            {{ Nbook.ISBN10(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Series</label>
            {{ Nbook.series(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Format</label>
            {{ Nbook.Format(class="form-control") }}
        </div>

         <div class="form-group">
            <label for="exampleInputEmail1">Publication Date</label>
            {{ Nbook.publication_date(class="form-control") }}
        </div>

         <div class="form-group">
            <label for="exampleInputEmail1">Dimensions</label>
            {{ Nbook.dimensions(class="form-control") }}
        </div>

         <div class="form-group">
            <label for="exampleInputEmail1">Language</label>
            {{ Nbook.language(class="form-control") }}
        </div>

         <div class="form-group">
            <label for="exampleInputEmail1">Weight</label>
            {{ Nbook.weight(class="form-control") }}
        </div>

         <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            {{ Nbook.description(class="form-control") }}
        </div>

        {{ Nbook.csrf_token }}

        <button type="submit" class="btn btn-dark">Add</button>

    </form>

    </div>
</div>

<br>
<br>

<div class="card container">

 <div class="card-body ">

    <h4>Add Used Book</h4>

    <form action="{{ url_for('addstock') }}" method="post" class="border border-light p-6" style="color: #757575;" enctype="multipart/form-data">

        <div class="form-group">
            <label for="exampleInputEmail1">Book Name</label>
            {{ Ubook.ubookname(class="form-control") }}
        </div>


        <div class="form-group">
            <label for="exampleInputEmail1">Author</label>
            {{ Ubook.uauthor(class="form-control") }}
        </div>


        <div class="form-group">
            <label for="exampleInputEmail1">Price</label>
            {{ Ubook.uprice(class="form-control") }}
        </div>


        <div class="form-group">
            <label for="exampleInputPassword1">Book picture upload <strong>.jpg Format only!</strong></label> <br>
            {{ Ubook.upicture}}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">ISBN-13</label>
            {{ Ubook.uISBN13(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">ISBN-10</label>
            {{ Ubook.uISBN10(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Series</label>
            {{ Ubook.useries(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Format</label>
            {{ Ubook.uFormat(class="form-control") }}
        </div>

         <div class="form-group">
            <label for="exampleInputEmail1">Publication Date</label>
            {{ Ubook.upublication_date(class="form-control") }}
        </div>

         <div class="form-group">
            <label for="exampleInputEmail1">Dimensions</label>
            {{ Ubook.udimensions(class="form-control") }}
        </div>

         <div class="form-group">
            <label for="exampleInputEmail1">Language</label>
            {{ Ubook.ulanguage(class="form-control") }}
        </div>

         <div class="form-group">
            <label for="exampleInputEmail1">Weight</label>
            {{ Ubook.uweight(class="form-control") }}
        </div>

         <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            {{ Ubook.udescription(class="form-control") }}
        </div>


         {{ Ubook.csrf_token }}

        <button type="submit" class="btn btn-dark">Add</button>
    </form>

    </div>
</div>

<br>
<br>

<div class="card container">

 <div class="card-body ">

    <h4>Add Supplies</h4>

    <form action="{{ url_for('addstock') }}" method="post" class="border border-light p-6" style="color: #757575;" enctype="multipart/form-data">

        <div class="form-group">
            <label for="exampleInputEmail1">Supply name</label>
            {{ supply.supplyname(class="form-control") }}
        </div>



        <div class="form-group">
            <label for="exampleInputEmail1">Price</label>
            {{ supply.price(class="form-control") }}
        </div>


        <div class="form-group">
            <label for="exampleInputPassword1">Supply picture upload <strong>.jpg Format only!</strong></label> <br>
            {{ supply.picture}}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            {{ supply.description(class="form-control") }}
        </div>


         {{ supply.csrf_token }}

        <button type="submit" class="btn btn-dark">Add</button>
    </form>

    </div>
</div>

<br>
<br>

<div class="card container">

 <div class="card-body">


    <h4>Add Accessories</h4>

    <form action="{{ url_for('addstock') }}" method="post" class="border border-light p-6" style="color: #757575;" enctype="multipart/form-data">

        <div class="form-group">
            <label for="exampleInputEmail1">Accessory name</label>
            {{ acc.accname(class="form-control") }}
        </div>



        <div class="form-group">
            <label for="exampleInputEmail1">Price</label>
            {{ acc.price(class="form-control") }}
        </div>


        <div class="form-group">
            <label for="exampleInputPassword1">Accessory picture upload <strong>.jpg Format only!</strong></label> <br>
            {{ acc.picture}}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            {{ acc.description(class="form-control") }}
        </div>

         {{ acc.csrf_token }}

        <button type="submit" class="btn btn-dark">Add</button>
    </form>

    </div>
</div>

<br>
<br>
</div>
{% endblock %}