{% extends "base.html" %}

{% block main %}

<h1 class="jumbotron">Contact Us</h1>

    <form action="{{ url_for('contactus') }}" method="post">

      <fieldset>

          <div class="form-group">
            <label for="exampleInputEmail1">Please enter your name</label>
            {{ contact.name }}
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">What is your message about?</label>
            {{ contact.subject }}
          </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Please enter  you Email address</label>
          {{ contact.email }}
        </div>


        <div class="form-group">
          <label for="exampleTextarea">What would you like to say to us?</label>
          {{ contact.message }}
        </div>

        {{ contact.csrf_token }}

        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>

    </form>




{% endblock %}