{% extends "base.html" %}


{% block main %}

<h1 class="jumbotron">eShop</h1>

    <div class="card ">
        <div class="card-body px-lg-5 pt-5 bg-light ">

            <h3>New Books</h3>

            {% for newbook in newbooks %}

                {{ newbook.bookname }}
                {{ newbook.author }}
                {{ newbook.price }} {{ newbook.stock_status }}

                <img>

                #add button right here for hidden form submission (add to cart)

            {% endfor %}


        </div>
    </div>


    <br>

   <div class="card ">
        <div class="card-body px-lg-5 pt-5 bg-light ">

            <h3>Used Books</h3>

            {% for usedbook in usedbooks %}

                {{ usedbook.bookname }}
                {{ usedbook.author }}
                {{ usedbook.price }} {{ usedbook.stock_status }}

                <img>

                #add button right here for hidden form submission (add to cart)

            {% endfor %}

        </div>
    </div>


    <br>

    <div class="card ">
        <div class="card-body px-lg-5 pt-5 bg-light ">

            <h3>Supplies</h3>

            {% for supply in supplies %}

                {{ supply.name }}
                {{ supply.price }} {{ supply.stock_status }}

                <img>

                #add button right here for hidden form submission (add to cart)

            {% endfor %}

        </div>
    </div>

    <br>

    <div class="card ">
        <div class="card-body px-lg-5 pt-5 bg-light ">

            <h3>Accessories</h3>

            {% for accessory in accessories %}

                {{ accessory.name }}
                {{ accessory.price }} {{ accessory.stock_status }}

                <img>

                #add button right here for hidden form submission (add to cart)

            {% endfor %}

        </div>
    </div>

    <br>







{% endblock %}