{% extends "base.html" %}


{% block main %}

<h1 class="jumbotron">eShop</h1>

    <div class="card ">

        <div class="card-body px-lg-5 pt-5 bg-light ">

            <h2 class="jumbotron">New Books</h2>

            {% for newbook in newbooks %}


                <h3>{{ newbook.bookname }}</h3>
                <h4>{{ newbook.author }}</h4>
                <h6><strong>$</strong>{{ newbook.price }} <strong>{{ newbook.stock_status }}</strong><br></h6>

                <img src="{{ url_for('static',filename= "newbook_pics/" + newbook.photopath ) }}"  class="img-fluid" alt="" height="220" width="420">
                <br>
                <br>

                <form action= "{{ url_for('eShop') }}" method="post" >

                    {{ item.item_name(value = newbook.bookname ) }}
                    {{ item.item_price(value = newbook.price ) }}
                    {{ item.csrf_token }}
                    <button type="submit" class="btn btn-dark">Add to cart</button>

                </form>

                <br>
                <br>
            {% endfor %}


        </div>
    </div>


    <br>

   <div class="card ">
        <div class="card-body px-lg-5 pt-5 bg-light ">

            <h3>Used Books</h3>

            {% for usedbook in usedbooks %}

                <div class ="container-fluid">
                    {{ usedbook.ubookname }}<br>
                    {{ usedbook.uauthor }}<br>
                    {{ usedbook.uprice }} <strong>{{ usedbook.ustock_status }}</strong><br>

                    <img src="{{ url_for('static',filename= "usedbook_pics/" + usedbook.uphotopath ) }}"  class="img-fluid" alt="" height="220" width="420"><br>
                    <br>

                     <form action= "{{ url_for('eShop') }}" method="post" >

                        {{ item.item_name(value = usedbook.ubookname ) }}
                        {{ item.item_price(value = usedbook.uprice ) }}
                        {{ item.csrf_token }}
                        <button type="submit" class="btn btn-dark">Add to cart</button>

                    </form>

                </div>

            {% endfor %}

        </div>
    </div>


    <br>

    <div class="card ">
        <div class="card-body px-lg-5 pt-5 bg-light ">

            <h3>Supplies</h3>


             {% for supply in supplies %}

                <div class ="container-fluid">

                    {{ supply.name }}<br>
                    {{ supply.price }} <strong>{{ supply.stock_status }}</strong><br>

                    <img src="{{ url_for('static',filename= "supplies_pics/" + supply.photopath ) }}"  class="img-fluid" alt="" height="220" width="420"><br>
                    <br>

                    <form action= "{{ url_for('eShop') }}" method="post" >

                        {{ item.item_name(value = supply.name ) }}
                        {{ item.item_price(value = supply.price ) }}
                        {{ item.csrf_token }}
                        <button type="submit" class="btn btn-dark">Add to cart</button>

                    </form>


                </div>

            {% endfor %}


        </div>
    </div>

    <br>

    <div class="card ">
        <div class="card-body px-lg-5 pt-5 bg-light ">

            <h3>Accessories</h3>

            {% for accessory in accessories %}

                <div class ="container-fluid">
                    {{ accessory.name }}<br>
                    {{ accessory.price }} <Strong>{{ accessory.stock_status }}</Strong><br>

                    <img src="{{ url_for('static',filename= "accessory_pics/" + accessory.photopath ) }}"  class="img-fluid" alt="" height="220" width="420"><br>
                    <br>

                    <form action= "{{ url_for('eShop') }}" method="post" >

                            {{ item.item_name(value = accessory.name ) }}
                            {{ item.item_price(value = accessory.price ) }}
                            {{ item.csrf_token }}
                            <button type="submit" class="btn btn-dark">Add to cart</button>

                    </form>

                </div>

            {% endfor %}

        </div>
    </div>

    <br>







{% endblock %}