<!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->

      <hr>

      <!-- Grid column -->
      <div class="col-md-8 mb-md-0 mb-8">

        <!-- Links -->
        <h5 class="text-uppercase">Useful Links</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="#!">About Us</a>
          </li>
          <li>
            <a class="text-white" href="#!">Resources</a>
          </li>
          <li>
            <a class="text-white" href="#!">Login</a>
          </li>
          <li>
            <a class="text-white" href="#!">Tutorials</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Useful Links</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="https://www.schoology.com/">Schoology</a>
          </li>
          <li>
            <a class="text-white" href="https://www.youtube.com/channel/UC6NxZ2ep3yZwk8gw7hiURZQ">Our YouTube Page</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 ">
    <h5>You're gonna Ace this!</h5>
    <p class="text-white">Hyperacademics.com</p>
  </div>
