<!-- Footer Links -->


  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">℅ Devon Malcolm Brewster</h5>
        <p>The University of the West Indies</p>
        <p>Mona</p>
        <p>Kingston 7</p>
        <p>Jamaica, W.I</p>
        <br>
        <p><strong>Contact Us:</strong></p>
        <p>Tel: 1-876-568-7932</p>
        <p>Email: admin@hyperacademics.com</p>



      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Useful Links</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="{{ url_for('about') }}">About Us</a>
          </li>
          <li>
            <a class="text-white" href="{{ url_for('login') }}">Login</a>
          </li>
          <li>
            <a class="text-white" href="{{ url_for('resources') }}">Resources</a>
          </li>
          <li>
            <a class="text-white" href="{{ url_for('eShop') }}">eShop</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Useful Links</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="https://www.facebook.com/HyperAcademics-200743400616528/">Our Facebook</a>
          </li>
          <li>
            <a class="text-white" href="https://www.schoology.com/">Schoology</a>
          </li>
          <li>
            <a class="text-white" href="https://www.instagram.com/hyperacademics/">Our Instagram</a>
          </li>



        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
        <p>You’re gonna ACE this!</p>
      <p> © HyperAcademics, 2019</p>
      <small>Coded By: David Bryson</small>
  </div>
  <!-- Copyright -->