{% extends "base.html" %}

{% block main %}


{% if current_user.is_admin %}

<div class="card">

    <div class="card-body px-lg-5 pt-5 bg-light">

        <form action= "{{ url_for('home') }}" method="post" enctype="multipart/form-data" class="">

              <div class="form-group">
                <label for="exampleInputPassword1">Add Picture <small>Picture must be in .jpg format</small></label><br>
                {{ homeform.pic}}
              </div>

              <br>

              <div class="form-group">
                <label for="exampleInputPassword1">Add Caption <Small>Optional</Small></label>
                {{ homeform.caption(class="form-control") }}
              </div>

               {{ homeform.csrf_token }}

               <button type="submit" name="submit" class="btn btn-dark">Add Picture</button>
        </form>

    </div>
</div>

{% endif %}





<div id="carouselExampleIndicators" class="carousel slide-expand-lg" data-ride="carousel">


     <div class="carousel-inner">

      {% for picture in all_pics %}


      <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
        <img src="{{url_for('static',filename='homepage_pics/'+picture.pic_name) }}" class="d-block w-100" alt="test1">
          <div class="carousel-caption d-none d-md-block"><h1>{{ picture.caption }}</h1></div>
      </div>
      {% endfor %}


      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
</div>



{% endblock %}