{% extends "base.html" %}

{% block main %}

<h1 class="jumbotron">Tutorials</h1>



    {% for video in videos %}

    <div class="card-body px-lg-8 pt-9">
        <br>
        <br>
        <h6>{{ video }}</h6>
       <video controls controlsList="nodownload" width="450" height=250">

            <source src="{{ url_for('static',filename= "tutorial_vids/" + video ) }}" type="video/mp4"/>

            Sorry, your browser doesn't support embedded videos.
       </video>
    </div>

        {% if  current_user.is_admin %}


                <form action= "{{ url_for('tutorials') }}" method="post" >


                     {{ dele.vid_name(value = video) }}

                     {{ dele.csrf_token }}

                      <button type="submit" class="btn btn-outline-info">Delete Post</button>

                </form>


        {% else %}
        {% endif %}



    {% endfor%}





{% endblock %}